<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Encompass.Automation.SDK" version="23.1.0.1" targetFramework="net48" />
  <package id="Encompass.Objects.SDK" version="23.1.0.1" targetFramework="net48" />
  <package id="Encompass.SDK" version="23.1.0.1" targetFramework="net48" />
  <package id="EPPlus" version="6.2.8" targetFramework="net48" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net48" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="7.0.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="OfficeOpenXml.Core.ExcelPackage" version="1.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net48" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>